@font-face {
    font-family: century-regular;
    src: url('../Fonts/Century_Gothic_Font_Family/Century\ Gothic\ 400.ttf');
}
@font-face {
    font-family: century-bold;
    src: url('../Fonts/911Fonts.com_CenturyGothicBold__-_911fonts.com_fonts_pMgo.ttf');
}
@font-face {
    font-family: segoe;
    src: url('../Fonts/segoe-script/segoesc.ttf');
}
@font-face {
    font-family: bebas;
    src: url('../Fonts/bebas/Bebas-Regular.ttf');
}
@font-face {
    font-family: newsgoth;
    src: url('../Fonts/newsgoth_bt/NewsGothicBT.ttf');
}
*{
    margin: 0;
    padding: 0
}
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.header-bg{
    background-image: url('../Home/Header.jpg');
    background-position: top;
    background-size: cover;
    background-position: relative;
}
.header{
    display: flex;
    height: 11vw;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 9vw;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.5vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
}
hr{
    margin-left: 1vw;
    margin-right: 1vw;
    border-top: none;
}
.nav-bold{
    font-family: century-bold;
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
}
.nav{
    font-family: century-regular;
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
}
.nav:hover{
    cursor: pointer;
    font-family: century-bold;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.nav-bold:hover{
    cursor: pointer;
    font-family: century-bold;
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.dropdown{
    float: left;
    display: hidden;
}
.subMenu{
    width: 10vw;
    display: none;
    position: absolute;
}
.subMenu a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: century-regular;
    width: 12vw;
    background-color: lightpink;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    margin-left: -4vw;
}
.dropdown:hover .subMenu{
    display: block;
    z-index: 1;
}
.subMenu a:hover{
    background-color: crimson;
    color: white;
    font-family: century-bold;
    transition-duration: 0.5s;
}
.top-border{
    border: solid 1px lightpink;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0.7vw;
}
.border{
    border: solid 1px lightpink;
}
.bottom-border{
    border: solid 1px lightpink;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../Home/Tiles.jpg');
    background-position: top;
    background-size: cover;
    background-position: relative;
    align-items: center;
}
.container{
    display: flex;
    background-image: url('../Reservation/Background.jpg');
    background-size: cover;
    background-position: relative;
    margin: 5vw;
    border-radius: 2vw;
    width: 90vw;
}
.card{
    display: flex;
    flex-direction: column;
    margin-left: 46vw;
    background-color: rgba(255, 255, 255, .85);
    width: 50vw;
    height: 57vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.title{
    font-size: 3vw;
    font-family: century-bold;
    color: black;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.content{
    font-size: 1.3vw;
    font-family: century-regular;
    color: black;
    text-align: center;
    margin: 2vw 3vw 2vw 3vw;
}
.details{
    margin-left: 1vw;
}
.user-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vw 0 1vw 0;
}
.input-box{
    width: 100%;
    background-color: rgb(255, 255, 255, .0);
    margin-bottom: 2vw;
    opacity: 100%;
}
  
input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
.input-box div.details{
    display: flex;
    font-weight: 500;
}
.user-form .input-box input{
    height: 3vw;
    width: 95%;
    outline: none;
    font-size: 1vw;
    border-radius: 2vw;
    padding-left: 1vw;
    margin-top: 0.2vw;
    border: 0.1vw solid #ccc;
}
.submit-button{
    height: 3.5vw;
    margin: 6vw 0;
}
.submit-button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    background-color:#1e90ff;
    cursor: pointer;
    font-size: 1.5vw;
}
.submit-button input:hover{
    background-color: #004e9c;
    transition-duration: 0.5s;
    transform: scale(1.05);
}
.invalidtext{
    display: flex;
    font-size: 1vw;
    font-weight: normal;
    float: right;
    margin-right: 1vw;
    margin-bottom: -1.2vw;
    color:red;
}
.footer{
    display: flex;
    background-image: url('../Home/Header.jpg');
    background-position: top;
    background-size: cover;
    background-position: relative;
    justify-content: space-between;
}
.footer-logo{
    margin-top: 2vw;
    margin-left: 2vw;
    height: 5vw;
}
.copyrights{
    font-family: century-regular;
    font-size: 1.2vw;
    color: white;
    margin-top: 1.2vw;
    margin-left: 2vw;
    margin-bottom: 0.5vw;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5vw;
    margin-right: 2vw;
}
.connect{
    font-family: century-bold;
    font-size: 1.5vw;
    color: white;
}
.connect-logo{
    display: flex;
    margin-top: 1vw;
}
.icon{
    text-decoration: none;
    height: 3.5vw;
    padding: 0.2vw
}
@media screen and (max-width: 500px){
    .navbar{
        font-size: 3vw;
    }
    .main-title{
        font-size: 6vw;
    } 
    .desc-title{
        font-size: 5vw;
    }
    .subMenu a{
        width: 18vw;
        margin-left: -5vw;
    }
    .container{
        background-image: url('../Reservation/Background-2.jpg');
        width: 80vw;
        height: 100%;
        margin: 10vw;
    }
    .card{
        margin: 0;
        float: center;
        width: 80vw;
        height: 100%;
    }
    .title{
        font-size: 7vw;
    }
    .content{
        font-size: 4vw;
    }
    .details{
        margin-left: 2vw;
        margin-bottom: 1vw;
    }
    .user-form .input-box input{
        height: 6vw;
        width: 95%;
        font-size: 3vw;
        border-radius: 3vw;
        margin-bottom: 5vw;
    }
    .submit-button{
        height: 5vw;
    }
    .submit-button input{
        font-size: 3vw;
    }
    .invalidtext{
        font-size: 2.5vw;
        margin-bottom: -3vw;
        margin-top: -3vw;
    }
    .connect{
        font-size: 2.2vw;
    }
    .icon{
        height: 5vw;
    }
}

